table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.hide{ 
  display:none;
}

mat-footer-row mat-footer-cell{
  justify-content: center;
}

.search-div{
  margin:10px;
}
  .search-form-field{
    width: 80%;
    margin-left: 10px;
    padding: 5px 10px;
  }
  .search-form-field div.mat-form-field-infix{
    border-top: 0px;
  }

  .search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
  }
  .search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
  }

  .mat-column-ID {
    flex: 0 0 12%;
  }

  .mat-column-acciones {
    flex: 0 0 25%;
  }