<div class="dashboard-left">
  <div class="block-content">
    <div class="row">
      <div class="col-sm-9">
          <h4 class="text-success">Receta en preparación</h4>
      </div>
      <div class="col-sm-3">
        <span class="text-right"><img src="assets/images/widgets/recetas.png" class="img-fluid" alt=""></span>    
      </div>
    </div>
    <hr>  
    <p *ngIf="theCart">
      Nombre: {{theCart.name}}<br>
      Ingredientes: {{count}}<br>
      Costo: {{theCart.costo | currency}}
    </p>  
    <hr>
    <a [routerLink]="'/hawk/ventas/receta-en-preparacion'" class="btn btn-solid mr-3">Ir a receta</a>
  </div>
</div>
