<div class="container" *ngIf="working">
  <app-spinner></app-spinner>
</div>
<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="page-title">
                  <h2>Paquetes</h2>
              </div>
          </div> 
          <div class="col-sm-6">
              <nav aria-label="breadcrumb" class="theme-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk'">Inicio</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk/dashboard'">Panel de control</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk/ventas'">Ventas</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Paquetes</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb End -->
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-cart-widget></app-cart-widget>
            <hr>
            <app-subcart-widget></app-subcart-widget>
        </div>
    <div class="col-md-9">
          <!-- ======== Workspace ======== -->	
    <div class="dashboard-right">
        <div class="dashboard">
            <div class="row">
                <div class="col-lg-10">
                    <div class="page-title">
                        <div class="welcome-msg">
                            <h3 class="text-left">Paquetes existentes</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <span class="text-right"><img src="assets/images/pages/paquetes.png" class="img-fluid" alt=""></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-div">
                        <button mat-raised-button (click)="onCreate()" color="primary">
                            Nuevo <mat-icon>add</mat-icon>
                        </button>
                        <mat-form-field class="search-form-field" floatLabel="never">
                        <input matInput [(ngModel)]="searchKey" placeholder="Búsqueda" autocomplete="off" (keyup)="applyFliter()">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
                        </mat-form-field>
                    </div>
                      <div class="mat-elevation-z8">
                          <mat-table [dataSource]="listData" matSort>
                              <ng-container matColumnDef="ID">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.ID}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Descripcion">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.Descripcion}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="acciones">
                                  <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                  <mat-cell *matCellDef="let row">
                                      <button mat-icon-button (click)="onDetail(row)"><mat-icon>details</mat-icon></button>
                                      <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
                                      <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_forever</mat-icon></button>
                                  </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="loading">
                                  <mat-footer-cell *matFooterCellDef colspan="6">
                                      Cargando
                                  </mat-footer-cell>
                              </ng-container>
                              <ng-container matColumnDef="noData">
                                  <mat-footer-cell *matFooterCellDef colspan="6">
                                      No hay datos disponibles
                                  </mat-footer-cell>
                              </ng-container>
                              <mat-header-row *matHeaderRowDef="displayColumns;"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
                              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
                              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
                          </mat-table>
                          <mat-paginator [pageSizeOptions]="[5, 10, 15, 25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ======== /Workspace ======== -->
      </div>
  </div>
</div>