<div class="container-fluid">
  <div class="col-md-12"> 
    <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
      <span>{{title}}</span>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <br><br>
    <div class="dashboard-right">
      <div class="dashboard">
        <form [formGroup]='theForm' class="normal-form">
          <div class="form-group row">
            <div class="col-lg-10">&nbsp;</div>  
            <div class="col-lg-2">
              <span class="text-right"><img src="assets/images/pages/locaciones.png" class="img-fluid" alt=""></span>  
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label"><strong>Artículo</strong></label>
            <label class="col-sm-3 col-form-label">{{theName}} ({{theFirebaseID}})</label>	
          </div>
          <hr class="my-5" />
          <div class="form-group row">
            <label class="col-sm-1 col-form-label"><strong>Tipo</strong></label>
            <label class="col-sm-2 col-form-label">{{theType}}</label>
            <label class="col-sm-1 col-form-label">&nbsp;</label>	
            <label class="col-sm-1 col-form-label"><strong>Categoría</strong></label>
            <label class="col-sm-2 col-form-label">{{theCategory}}</label>	
            <label class="col-sm-1 col-form-label">&nbsp;</label>	
            <label class="col-sm-1 col-form-label"><strong>Subcategoría</strong></label>
            <label class="col-sm-2 col-form-label">{{theSubcategory}}</label>	
          </div>
          <hr class="my-5" />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><strong>Stock mínimo global</strong></label>
            <label class="col-sm-2 col-form-label">{{theMin}} {{um | titlecase}}</label>
            <label class="col-sm-1 col-form-label">&nbsp;</label>	
            <label class="col-sm-2 col-form-label"><strong>Stock máximo global</strong></label>
            <label class="col-sm-2 col-form-label">{{theMax}} {{um | titlecase}}</label>
          </div>
          <hr class="my-5" />
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Almacén *</label>	
            <div class="col-sm-2">
                <mat-form-field>
                  <mat-label>Seleccione una opción</mat-label>
                  <mat-select formControlName="almacen" (selectionChange)="almacenSelected(this)">
                    <ng-container *ngFor="let a of almacenes">
                      <mat-option value="{{a.AlmacenID}}">{{a.Nombre}}</mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error *ngIf="f.almacen.errors?.required" class="error-message">Este campo es requerido.</mat-error>
                </mat-form-field>
              <small class="form-text text-muted">Nombre con el que identificará el almacén.</small>
            </div>
            <div class="col-sm-1">&nbsp;</div>
            <label class="col-sm-1 col-form-label">Locación *</label>	
            <div class="col-sm-2">
              <mat-form-field>
                <mat-label>Seleccione una opción</mat-label>
                <mat-select formControlName="locacion">
                  <ng-container *ngFor="let l of locaciones$">
                  <mat-option value="{{l.LocacionID}}">{{l.Nombre}}</mat-option>
                  </ng-container>
                </mat-select>
                <mat-error *ngIf="f.locacion.errors?.required" class="error-message">Este campo es requerido.</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Stock Mínimo *</label>	
            <div class="col-sm-1">
              <mat-form-field>
              <input type="text" placeholder="0" matInput formControlName="stockMinimo">
              <mat-error *ngIf="f.stockMinimo.errors?.required">Este campo es requerido.</mat-error>
              </mat-form-field>
              <small class="form-text text-muted">Cantidad en {{um}}.</small>
            </div>
            <label class="col-sm-1 col-form-label">{{um}}</label>	
            <div class="col-sm-1">&nbsp;</div>
            <label class="col-sm-1 col-form-label">Stock Máximo *</label>	
            <div class="col-sm-1">
              <mat-form-field>
              <input type="text" placeholder="0" matInput formControlName="stockMaximo">
              <mat-error *ngIf="f.stockMaximo.errors?.required">Este campo es requerido.</mat-error>
              </mat-form-field>
              <small class="form-text text-muted">Cantidad en {{um}}.</small>
            </div>
            <label class="col-sm-1 col-form-label">{{um}}</label>	
            <div class="col-sm-1">&nbsp;</div>
            <label class="col-sm-1 col-form-label">Existencias</label>	
            <div class="col-sm-1">
              <mat-form-field>
              <input type="text" placeholder="0" matInput formControlName="existencias">
              </mat-form-field>
              <small class="form-text text-muted">Cantidad en {{um}}.</small>
            </div>
            <label class="col-sm-1 col-form-label">{{um}}</label>	
          </div>
          <hr class="my-5" />
          <div class="form-group row">
            <div class="col-md-6">
              <div class="alert alert-danger" *ngIf="theForm.invalid && submitted">Revise el formulario</div>
            </div>
            <div class="col-md-2">
              <button mat-raised-button (click)="validate()" color="primary">Guardar <mat-icon>save</mat-icon></button>
            </div>
            <div class="col-md-2">	
              <button mat-raised-button (click)="resetForm()">Vaciar <mat-icon>delete_sweep</mat-icon></button>
            </div>
            <div class="col-md-2">	
                <button mat-raised-button (click)="onClose()" color="warn">Cancelar <mat-icon>clear</mat-icon></button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>