@import '../../../the-theme.scss';

body, html {
  height: 100%;
}

.bg{
  background-image: url("../../../assets/images/fondologin.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.container {
   margin: 0px 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}
mat-form-field{
  width: 100%;
}

.demo-chip-list {
  width: 100%;
}