<div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="footer-end">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> {{today | date:'y'}} POS Latinoamericana Hawk 2.0; powered by NoiseApp & Praetorius</p>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="payment-card-bottom">
        <ul>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/hawk.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/pos.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/noiseapp.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/praetorius.gif" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
</div>