<!-- Loader -->
<div class="container" *ngIf="working">
  <app-spinner></app-spinner>
</div>
<!-- Termina Loader -->

<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="page-title">
                  <h2>Detalle de movimiento</h2>
              </div>
          </div> 
          <div class="col-sm-6">
              <nav aria-label="breadcrumb" class="theme-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk'">Inicio</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk/dashboard'">Panel de control</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk/inventarios'">Inventarios</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="'/hawk/inventarios/lista-movimientos'">Movimientos</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Detalle</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb End -->
<br><br>
<div class="container-fluid">
    <div class="dashboard-right">
        <div class="dashboard">
            <form [formGroup]='theForm' class="normal-form">
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Concepto</label>	
                    <div class="col-lg-3">
                        <mat-form-field>
                            <input type="text" matInput formControlName="concepto" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">&nbsp;</div>
                    <label class="col-sm-1 col-form-label">Fecha</label>	
                    <div class="col-lg-2">
                        <mat-form-field>
                            <input type="text" matInput formControlName="fecha" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">&nbsp;</div>
                    <div class="col-lg-2">
                        <span class="text-right"><img src="assets/images/pages/articulos.png" class="img-fluid" alt=""></span>  
                    </div>
                </div>
                <div class="form-group row">
					        <label class="col-sm-1 col-form-label">Origen</label>
                  <div class="col-sm-3">
                    <mat-form-field>
                      <input type="text" matInput formControlName="origen" readonly>
                    </mat-form-field>
                    </div>
                    <label class="col-sm-1 col-form-label">Destino</label>
                    <div class="col-sm-3">
                      <mat-form-field>
                        <input type="text" matInput formControlName="destino" readonly>
                      </mat-form-field>
                    </div>
                    <label class="col-sm-1 col-form-label">Realizó</label>
                    <div class="col-sm-2">
                      <mat-form-field>
                        <input type="text" matInput formControlName="realizo" readonly>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="search-div">
                        <button mat-raised-button (click)="onCreate()" color="primary">
                            Nuevo <mat-icon>add</mat-icon>
                        </button>
                    <mat-form-field class="search-form-field" floatLabel="never">
                        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="searchKey" placeholder="Búsqueda" autocomplete="off" (keyup)="applyFliter()">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
                    </mat-form-field>
                </div>
                <div class="mat-elevation-z8">
                    <mat-table [dataSource]="listData" matSort>
                        <ng-container matColumnDef="Articulo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.PresentacionCompra.Articulo.Nombre}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Cantidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.Cantidad}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Presentacion">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.PresentacionCompra.Nombre}} </mat-cell>
                      </ng-container>
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button mat-icon-button color="warn" (click)="onUnlink(row)"><mat-icon>link_off</mat-icon></button>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="loading">
                            <mat-footer-cell *matFooterCellDef colspan="6">
                                Cargando
                            </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="noData">
                            <mat-footer-cell *matFooterCellDef colspan="6">
                                No hay proveedores ligadas a este artículo
                            </mat-footer-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayColumns;"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
                        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
                        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 15, 25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                </div>
                </div>
                </div>
                <hr class="my-5" />
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="alert alert-danger" *ngIf="theForm.invalid && submitted">Revise el formulario</div>
                    </div>
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-2">	
                        <button mat-raised-button (click)="onClose()" color="warn">Cancelar <mat-icon>clear</mat-icon></button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>