@import '../../../../../the-theme.scss';

div.container {
    margin: 0px 40px;
 }
 
 .fill-remaining-space {
   flex: 1 1 auto;
 }
 
 form.normal-form{
   margin: 10px;
 }
 mat-form-field{
   width: 100%;
 }
 
 .demo-chip-list {
   width: 100%;
 }