<div class="container-fluid">
  <div class="col-md-12">
    <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
      <span>{{title}}</span>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <br><br>
    <div class="dashboard-right">
      <div class="dashboard">
        <form [formGroup]='theForm' class="normal-form">
          <div class="form-group row">
            <div class="col-lg-10">&nbsp;</div>  
            <div class="col-lg-2">
              <span class="text-right"><img src="assets/images/pages/proveedores.png" class="img-fluid" alt=""></span>  
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Proveedor</label>
            <div class="col-sm-6">
              <mat-form-field>
                <input type="text" matInput formControlName="proveedor" readonly>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tiempo de surtido</label>
            <div class="col-sm-2">
              <mat-form-field>
                <input type="text" matInput formControlName="surtido" readonly>
              </mat-form-field>
              <small class="form-text text-muted">Tiempo en días.</small>
            </div>
            <label class="col-sm-1 col-form-label">Costo</label>
            <div class="col-sm-1 text-right">$</div>
            <div class="col-sm-1">
              <mat-form-field>
                <input type="text" matInput formControlName="costo" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-1">/p {{articulo.ID_UMBase}}</div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Notas *</label>	
            <div class="col-lg-8">
              <mat-form-field>
                <textarea formControlName="notas" rows="3" matInput  placeholder="Descripción no mayor a 160 caracteres..." readonly></textarea>
              </mat-form-field>
              <small class="form-text text-muted">Breve reseña del tipo de productos que maneja esta categoría.</small>
            </div>
            <div class="col-sm-2">&nbsp;</div>
          </div>
          <hr class="my-5" />
          <div class="form-group row">
            <div class="col-md-10">
              <div class="alert alert-danger" *ngIf="theForm.invalid && submitted">Revise el formulario</div>
            </div>
            <div class="col-md-2">	
              <button mat-raised-button (click)="onClose()" color="primary">OK <mat-icon>done</mat-icon></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>