<!-- breadcrumb End -->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <mat-toolbar color="primary">
            <span class="fill-remaining-space"></span>
            <span>{{title}}</span>
            <span class="fill-remaining-space"></span>
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
          </mat-toolbar>
          <br><br>
          <!-- ======== Workspace ======== -->	
          <div class="dashboard-right">
              <div class="dashboard">
                  <div class="row">
                      <div class="col-lg-10">
                          <div class="page-title">
                              <div class="welcome-msg">
                                  <h3 class="text-left">Locación: {{locacion.Nombre}}</h3>
                                  <h3 class="text-left">Almacén: {{almacen.Nombre}}</h3>
                                  <h4 class="text-left">Artículos asignados dentro de esta locación</h4>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-2">
                          <span class="text-right"><img src="assets/images/pages/locaciones.png" class="img-fluid" alt=""></span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="search-div">
                              <button mat-raised-button (click)="onCreate()" color="primary">
                                  Nuevo <mat-icon>add</mat-icon>
                              </button>
                              <mat-form-field class="search-form-field" floatLabel="never">
                                  <input matInput [(ngModel)]="searchKey" placeholder="Búsqueda" autocomplete="off" (keyup)="applyFliter()">
                                  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
                              </mat-form-field>
                          </div>
                          <div class="mat-elevation-z8">
                            <mat-table [dataSource]="listData" matSort>
                              <ng-container matColumnDef="Articulo">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Artículo</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.NAArticulo.Nombre}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Tipo">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.NAArticulo.Tipo | titlecase}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Maximo">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Min. Stock</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.StockMinimo}} {{element.NAArticulo.Ubase | titlecase}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Minimo">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Max. Stock</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.StockMaximo}} {{element.NAArticulo.Ubase | titlecase}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="Existencias">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Existencias</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.ExistenciaFisica}} {{element.NAArticulo.Ubase | titlecase}}</mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="acciones">
                                  <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                                  <mat-cell *matCellDef="let row">
                                      <button mat-icon-button (click)="onSelect(row)"><mat-icon>details</mat-icon></button>
                                  </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="loading">
                                  <mat-footer-cell *matFooterCellDef colspan="6">
                                      Cargando
                                  </mat-footer-cell>
                              </ng-container>
                              <ng-container matColumnDef="noData">
                                  <mat-footer-cell *matFooterCellDef colspan="6">
                                      No hay locaciones ligadas a este artículo
                                  </mat-footer-cell>
                              </ng-container>
                                <mat-header-row *matHeaderRowDef="displayColumns;"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
                                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
                                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
                              </mat-table>
                              <mat-paginator [pageSizeOptions]="[15, 25, 30, 50]" [pageSize]="25" showFirstLastButtons></mat-paginator>
                          </div>
                        </div>
              </div>
          </div>
          <!-- ======== /Workspace ======== -->
      </div>
  </div>
</div>